@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  overflow: hidden;
}

header {
  position: absolute;
  left: 10%;
  color: white;
}

#page-title {
  position: absolute;
  font-size: 6rem;
  font-family: Merriweather, serif;
}
#page-title > span {
  display: inline-block;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #0f0f0f;
  /* background: linear-gradient(0deg, rgba(52, 52, 59, 1) 0%, rgba(255, 255, 255, 1) 100%); */
  background-repeat: no-repeat;
  color: #1d1d1d;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.container {
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  border-radius: 10px;
  box-shadow: 0 0 4px 8px #0e0e0e;
}

nav {
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  clip-path: inset(0px 0px 0 0);
}
nav > button {
  transition: right 0.5s, background-color 0.5s;
  position: relative;
  background-color: #191919;
  color: white;
  padding: 2em;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  /* z-index: 1; */
}
nav > button:first-child {
  border-top-right-radius: 10px;
}
nav > button:last-child {
  border-bottom-right-radius: 10px;
}
nav > button:hover {
  background-color: #241692;
}
nav > button.active {
  background: #241692;
}

main {
  position: relative;
  clip-path: inset(0 0);
  background-color: #1b1b1b;
  border-radius: 10px 0 0 10px;
}

section {
  grid-column: 1;
  display: block;
  position: absolute;
  left: 101%;
  height: 100%;
  width: 100%;
  transition: left 0.5s, opacity 0.5s;
  /* opacity: 0; */
  background: #180e61;
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 2em;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: min(1em, 5vw);
  line-height: 1.5em;
}
section::-webkit-scrollbar {
  width: 5px;
}
section::-webkit-scrollbar-track {
  background: #00000000;
}
section::-webkit-scrollbar-thumb {
  background: #241692;
  border-radius: 10px;
}
section::-webkit-scrollbar-thumb:hover {
  background: #331fcd;
}
section.active {
  left: 0;
  opacity: 1;
  /* display: block; */
}
section > h2 {
  margin-bottom: 1em;
}
section > p {
  position: relative;
  margin-bottom: 0.5em;
}

.item-container {
  /* position: absolute; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item {
  /* float: left; */
  min-width: 40%;
  background-color: #241692;
  color: #f3f3f3;
  border-radius: 10px;
  padding: 0.8em;
  margin: 1em auto;
}
.item.grow {
  flex-grow: 1;
}
.item > h3 {
  margin-bottom: 0.5em;
}
.item > p {
  vertical-align: middle;
  font-size: 0.8em;
  padding: 0.2em;
}
.item > p img {
  vertical-align: middle;
  float: "left";
}

.github::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "";
  float: right;
  color: white;
}

.project a {
  text-decoration: none;
  color: inherit;
}
.project a video {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0.8em;
  /* box-shadow: 0 0 4px 5px $section-color); */
}

.education h3 > span {
  font-weight: lighter;
}
.education ul {
  margin-left: 0.8em;
}
.education ul li {
  font-size: 0.8em;
  margin-bottom: 0.8em;
}

.contact ul {
  list-style: none;
}
.contact ul li i {
  width: 24px;
}
.contact ul li a {
  margin-left: 1em;
  text-decoration: none;
  color: white;
}
.contact ul li a:hover {
  color: grey;
}

.express {
  font: helvetica neue, open sans, sans-serif;
  font-style: normal;
}
.express::before {
  content: "ex";
}

.progress-bar {
  /* background-color: white; */
  /* border: 5px solid black; */
  background-color: #180e61;
  height: 25px;
  border-radius: 25px;
  z-index: 2;
  padding: 2px;
}
.progress-bar span {
  display: block;
  height: 100%;
  background-color: #3987ac;
  border-radius: 25px;
  z-index: 0;
}

/*# sourceMappingURL=main.css.map */
