$bg-1: 'bg-primary';
$bg-2: 'bg-secondary';
$bg-3: 'bg-tertiary';
$text-color: 'text-color';
$text-2: 'text-secondary';


$themes: (
    dark: (
        text-color: rgb(240, 240, 240),
        text-secondary: rgb(240, 240, 240),
        bg-primary: rgb(24, 24, 24),
        bg-secondary: #180e61,
        bg-tertiary: #241692
    ),
    light: (
        text-color: rgb(0, 0, 0),
        text-secondary: rgb(240, 240, 240),
        bg-primary: rgb(233, 233, 233),
        bg-secondary: #10199b,
        bg-tertiary: #1829be
    ),
);

@mixin theme() {
    @each $theme, $map in $themes {
      .#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function t($key) {
    @return map-get($theme-map, $key);
  }